<nav class="navbar">
    <div class="nav-container">
        <!-- Logo -->
        <div class="logo-group" routerLink="/" (click)="closeMenu()">
            <span class="logo-icon">🍎</span>
            <span class="logo-text">NutriCalculadora</span>
            <span class="badge-beta">Beta</span>
        </div>

        <!-- Botón Hamburguesa -->
        <div class="menu-toggle" (click)="toggleMenu()" [class.active]="menuOpen">
            {{ menuOpen ? '✕' : '☰' }}
        </div>

        <!-- Menú de navegación -->
        <div class="menu" [class.open]="menuOpen">

            <!-- Agregamos (click)="closeMenu()" -->
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
                Tabla de Laura Joy
            </a>
            <a routerLink="/incap" routerLinkActive="active" (click)="closeMenu()">Tabla INCAP</a>
            <ng-container *ngIf="authService.user$ | async as user">
                <a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Mis Perfiles</a>
            </ng-container>            
            <!-- DROPDOWN HERRAMIENTAS -->
            <div class="dropdown" [class.show]="toolsOpen" routerLinkActive="active-parent">

                <button class="dropdown-toggle" (click)="toggleTools()">
                    Herramientas <span class="arrow">▼</span>
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/macros" routerLinkActive="active" (click)="closeMenu()">
                        Distribución de Macros
                    </a>
                    <a routerLink="/harris-benedict" routerLinkActive="active" (click)="closeMenu()">
                        Gasto Metabólico (Harris-Benedict)
                    </a>
                    <a routerLink="/add-food" routerLinkActive="active" (click)="closeMenu()">Agregar Nuevo Alimento</a>
                </div>
            </div>
            <!-- Si NO hay usuario -->
            <ng-container *ngIf="!(authService.user$ | async)">
                <a routerLink="/login" class="btn-login" (click)="closeMenu()">Iniciar Sesión</a>
            </ng-container>

            <!-- Si HAY usuario -->
            <ng-container *ngIf="authService.user$ | async as user">
                <!-- <a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Mis Perfiles</a> -->
                <span class="user-email">{{ user?.email }}</span>

                <!-- Aquí encadenamos las dos funciones separadas por punto y coma -->
                <button (click)="logout(); closeMenu()" class="btn-logout">Cerrar Sesión</button>
            </ng-container>

        </div>
    </div>
</nav>