/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
@import './styles/theme.css';

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background: var(--background);
  margin: 0;
}
* {
  box-sizing: border-box; /* Fundamental para que el padding no rompa el ancho */
}
